{% extends "manager/base-main.html" %}

{% load staticfiles %}
{% load i18n %}
{% block main-content %}
	
	<style>

		.dashboard-navbar {
			position: relative;
		}

		.logo-name-header {
			height: 100%;
		}
		
		.header-logo {
			height: 80px;
		}
		
		.ripple-container {
		    position: relative;
		    overflow: hidden;
		}
		
		.link-selected {
			border-bottom-width: 5px;
			border-bottom-style: inset;	
		}
		
		.mdl-navigation__link {
			font-size: 24px;
		}
	
	</style>
	
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">

		<header class="mdl-layout__header">
		
		    <div class="mdl-layout__header-row header-logo mdl-color--white">
		        
		        <a class="logo-name-header" href="{% url 'content' %}"><img class="logo-name-header" src="{% static 'manager/img/logo.png' %}"></img></a>
		        <div class="mdl-layout-spacer"></div>
		        <nav class="mdl-navigation dashboard-navbar">	            
		        	{% block nav-bar-content %}{% endblock %}		            	            
		        </nav>
		        
		    </div>
		    
		</header>
	    
	    
		{% include 'manager/navigation-drawer/navigation-drawer-admin.html' %}
	    
	    	    
	    <main id="scroll-layout" class="mdl-layout__content mdl-color--grey-100">
	        {% block content %}{% endblock %}
	    </main>

	</div>
	
{% endblock %}
