{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="Pt-br">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="{% static 'manager/frameworks/mdl/material.min.css' %}">
        <link rel="stylesheet" href="http://cdn.materialdesignicons.com/1.4.57/css/materialdesignicons.min.css">
        
        {% block other-head %}{% endblock %}
    {% endblock %}
</head>
<body>
{% block navbar %}
    {% if messages %}
        {% for message in messages %}
           {{ message }}
        {% endfor %}
    {% endif %}

{% endblock %}

{% block main-content %}

{% endblock %}

{% block script %}
	<script src="{% static 'manager/frameworks/mdl/material.min.js' %}"></script>
    {% block other-script %}{% endblock %}
{% endblock %}

</body>

</html>
