{% extends "manager/base-main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block other-head %}
	<link rel="stylesheet" href="{% static 'manager/css/base-webpage.css' %}">
{% endblock %}

{% block main-content %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	  <header class="mdl-layout__header">
	  
	    <div class="mdl-layout__header-row header-logo mdl-color--white">
	      
	      <img class="logo-name-header" src="{% static 'manager/img/logo.png' %}"></img>
	      
	    </div>
	    
	    <div class="mdl-layout__header-row mdl-color--grey-200">
	      <nav class="mdl-navigation mdl-layout--large-screen-only">
	        
	        <a
	        	class="mdl-navigation__link
	        	{% if home %} link-selected mdl-color-text--pink
	        	{% else %} mdl-color-text--grey-700 {% endif %} mdl-js-ripple-effect ripple-container" href="{% url 'content' %}">
	        	<span class="mdl-ripple"></span>
	        	{% trans 'Home' %}
	        </a>
	        
	        {% block header-left-links %}{% endblock %}
	      </nav>
	      <div class="mdl-layout-spacer"></div>
	      <nav class="mdl-navigation mdl-layout--large-screen-only">	      
	        
	        <div>
	        {% if request.user.is_authenticated %}
				<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-700" href="{% url 'logout' %}">Logout</a>
				
			{% else %}
				<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-700" href="{% url 'login' %}">Login</a>
			{% endif %}
			</div>
	        
	        {% block header-right-links %}{% endblock %}
	      </nav>
	    </div>
	    
	  </header>
	  
	  <main class="mdl-layout__content mdl-color--grey-100">
	    {% block content %}{% endblock %}
	  </main>
	  
	</div>
{% endblock %}