{% extends "manager/base-main.html" %}
{% load staticfiles %}
{% load i18n %}

{% block other-head %}
	<link rel="stylesheet" href="{% static 'manager/css/base-webpage.css' %}">
{% endblock %}

{% block main-content %}
	
	<div class="mdl-layout--large-screen-only mdl-layout mdl-js-layout mdl-layout--fixed-header
	
		{% if request.user.is_authenticated %}
			mdl-layout--fixed-drawer
		{% else %}
			
		{% endif %} ">
        
    	{% include 'manager/navbars/navbar-main.html' %}    
	    
	    {% if request.user.is_authenticated %}
			{% include 'manager/navigation-drawer/navigation-drawer-all-screen.html' %}
		{% else %}
			{% include 'manager/navigation-drawer/navigation-drawer-small-screen.html' %}
		{% endif %}
	    
	    	    
	    <main id="scroll-layout" class="mdl-layout__content mdl-color--grey-100">
	        {% block content %}{% endblock %}
	    </main>

	</div>
	
{% endblock %}