Django==1.7.11
django-rosetta==0.7.8
Pillow==2.6.2
python-social-auth==0.2.13
django-nocaptcha-recaptcha==0.0.18


#NO USING PIP
#sudo apt-get install postfix
#sudo aptitude install libapache2-mod-wsgi
#sudo apt-get install python-dev or sudo apt-get install python3-dev
#sudo apt-get install libpq-dev
#sudo apt-get install gettext
