<<<<<<< HEAD
=======
.logo-name-header {
	height: 100%;
}

.header-logo {
	height: 100px;
}

.ripple-container {
    position: relative;
    overflow: hidden;
}

.link-selected {
	border-bottom-width: 5px;
	border-bottom-style: inset;	
}

.mdl-navigation__link {
	font-size: 24px;
}

.card-image{
	background-repeat:no-repeat;
	background-size:100%;
	background-position: center;
}
>>>>>>> 91e45e43a10dc5a5ccbadd45ca9a05784d41ebb8
