<!-- Barra Superior -->

{% load staticfiles %}
{% load i18n %}

<style>

	.logo-name-header {
		height: 100%;
	}
	
	.header-logo {
		height: 80px;
	}
	
	.ripple-container {
	    position: relative;
	    overflow: hidden;
	}
	
	.link-selected {
		border-bottom-width: 5px;
		border-bottom-style: inset;	
	}
	
	.mdl-navigation__link {
		font-size: 24px;
	}

</style>

<header class="mdl-layout__header">

    <div class="mdl-layout__header-row header-logo mdl-color--white">
        
        <a class="logo-name-header" href="{% url 'home' %}"><img class="logo-name-header" src="{% static 'manager/img/logo.png' %}"></img></a>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">	            
            
            <div>
		        {% if not request.user.is_authenticated %}
					<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--grey-700" href="{% url 'login' %}">{% trans 'Login' %}</a>
				{% else %}
					
				{% endif %}
			</div>
            
        </nav>
        
    </div>
    
    {% if not request.user.is_authenticated %}
	    <div class="mdl-layout__header-row mdl-color--grey-200 mdl-layout--large-screen-only">
	        <nav class="mdl-navigation mdl-layout--large-screen-only">
	            
	            <a
	            	class="mdl-navigation__link
	            	{% if home %} link-selected mdl-color-text--pink
	            	{% else %} mdl-color-text--grey-700 {% endif %} mdl-js-ripple-effect ripple-container" href="{% url 'home' %}">
	            	<span class="mdl-ripple"></span>
	            	{% trans 'Home' %}
	            </a>
	            
	            {% block header-left-links %}{% endblock %}
	        </nav>
	        <div class="mdl-layout-spacer"></div>
	        <nav class="mdl-navigation">
	            {% block header-right-links %}{% endblock %}
	        </nav>
	    </div>
	{% endif %}
    
</header>