{% extends 'manager/base-webpage.html' %}

{% load staticfiles %}
{% load manager_tags %}
{% load i18n %}

{% block other-head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'manager/css/home.css' %}">
{% endblock %}

{% block content %}

	</style>

	<div class="mdl-grid">

		<div class="mdl-cell mdl-cell--11-col centered-container mdl-grid ">
			
			{% for index in 10|range %}
				{% include 'manager/cards/card-event-item.html' %}				
			{% empty %}
				<p>{% trans 'No events' %}</p>
			{% endfor %}
			
		</div>
	</div>

{% endblock %}
