{% extends "manager/base-clean.html" %}
{% load staticfiles %}
{% load i18n %}
{% load manager_tags %}

{% block other-head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'manager/css/screen-event.css' %}">
{% endblock %}

{% block content %}
	
	<style>

		.event-background-image {
			
			{% if event.get_image %}
				background-image:url("{{event.get_image.url}}");
			{% endif %}
			background-repeat:no-repeat;
			background-size: 100% auto;
			
			background-color: #CCC;
			
		}
		
		.event-page {
			overflow: visible;
			padding: 40px;
		}
		
		.event-image-reference {
			width: 80%;
			height: 100%;
			visibility: hidden;
		}
		
		.event-fab {
			position: absolute;
			right: 3%;
			top: -26px;
		}
		
		.mdl-typography--display-3 {
			font-weight: 100;
		}
		
		.paragraph {
			text-align: justify;
		}
		
		.event-container-top{
			width: 100%;
		}
		
		
	</style>
		
	<div class="event-background-image event-main-grid mdl-grid mdl-color--grey-100" data-stellar-background-ratio="0.625">
	
		<div class="mdl-cell mdl-cell--12-col">
			<img id="event-image-reference" class="event-image-reference" src="{% static 'manager/img/logo1.png' %}"></img>
		</div>
	
		<!-- Name and description -->
		<div class="mdl-cell mdl-cell--1-col"></div>
		<div id="event-page" class="event-page mdl-cell mdl-cell--10-col mdl-card mdl-shadow--2dp">
			
			<button id="event-fab" class="event-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
				<i class="material-icons">person_add</i>
			</button>
			<div class="mdl-tooltip" for="event-fab">
				{% trans 'Subscribe' %}
			</div>
			
			<label class="mdl-typography--display-3">{{event.get_name}}</label>
			
			{% if event.get_value %}
				<label class="mdl-typography--display-1 mdl-color-text--pink">${{event.get_value}}</label>
			{% endif %}
			<br />
			<div class="mdl-grid mdl-grid--no-spacing event-container-top">
				<div class="mdl-cell--6-col">
					<label class="mdl-typography--body-1">{% trans 'Address' %}</label>
					<br />
					{% with  event.get_address as address %}
						<label class="mdl-typography--title">{{ address.get_street }}, {{address.get_city}}, {{address.get_state}}, {{address.get_cep}}</label>
					{% endwith %}
				
				</div>
				
				<div class="mdl-cell--6-col">
					<label class="mdl-typography--body-1">{% trans 'Start date' %}</label>
					<br />
					<label class="mdl-typography--title">{{event.get_start_date}}</label>
				</div>
			
			</div>
			<br />
			
			<p class="paragraph mdl-typography--body-1">{{event.get_description}}</p>
						
		</div>
		<div class="mdl-cell mdl-cell--1-col"></div>
		
		
		<!-- Other card -->
		<div class="mdl-cell mdl-cell--1-col"></div>
		<div id="event-page" class="event-page mdl-cell mdl-cell--10-col mdl-card mdl-shadow--2dp">
			
			
						
		</div>
		<div class="mdl-cell mdl-cell--1-col"></div>
	
	</div>

{% endblock %}

{% block other-script %}
	{{ block.super }}
	<script src="{% static 'manager/js/screen-event.js' %}"></script>
{% endblock %}