{% extends 'manager/base-dashboard.html' %}

{% load staticfiles %}
{% load i18n %}

{% block other-head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'manager/css/login.css' %}">
{% endblock %}

{% block content %}

	<form action="{% if type == 'add' %}
					{% url 'admin_event_add' %}
				  {% elif type == 'edit' %}
				  	{% url 'admin_event_edit' event.id %}
				  {% else %}
				  	.
				  {% endif %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
				  
		<div class="mdl-grid">
			<div class="mdl-cell--10-col mdl-color--white mdl-shadow--2dp login-card">
				  
				{% with form_event as form %}
					{% include 'manager/_render_form.html' %}
				{% endwith %}
				{% with form_address as form %}
					{% include 'manager/_render_form.html' %}
				{% endwith %}
				<button class="submit-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent" type="submit">{% trans "Adicionar" %}</button>
				
				
			</div>
		</div>
	</form>
{% endblock %}