{% extends 'manager/base-dashboard.html' %}

{% load staticfiles %}
{% load manager_tags %}
{% load i18n %}

{% block other-head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'manager/css/home.css' %}">
{% endblock %}

{% block nav-bar-content %}

	<style>
		
		.add-event-fab {
			position: absolute;
			bottom: -32px;
			right: 48px;
		}
	
	</style>
	
	<a href="{% url 'admin_event_add' %}">
		<button id="add-event-fab" class="add-event-fab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
			<i class="material-icons">add</i>
		</button>
	</a>
	<div class="mdl-tooltip" for="add-event-fab">
		{% trans 'Add new event' %}
	</div>

{% endblock %}	

{% block content %}

	<div class="mdl-grid">
	
		<div class="mdl-cell mdl-cell--11-col centered-container mdl-grid ">
			
			{% for event in events %}
				{% include 'manager/cards/card-event-item.html' %}				
			{% empty %}
				<h1 class="mdl-typography--display-1">{% trans 'No events' %}</h1>
			{% endfor %}
			
		</div>
	</div>

{% endblock %}